# ------------------------------------------------------------
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
# ------------------------------------------------------------

name: Publish Recipes

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: publish-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  publish-dev:
    name: Publish Recipes to Dev ACR
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    env:
      ACR_HOST: radiusdev.azurecr.io
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - name: az CLI login
      run: |
        az login --service-principal \
          --username ${{ secrets.AZURE_SP_TESTS_APPID }} \
          --password ${{ secrets.AZURE_SP_TESTS_PASSWORD }} \
          --tenant ${{ secrets.AZURE_SP_TESTS_TENANTID }}
    - name: Parse release version and set environment variables
      run: python ./.github/scripts/get_release_version.py
    - name: Download rad-bicep
      run: |
        ./.github/scripts/curl-with-retries.sh https://get.radapp.dev/tools/bicep-extensibility/${{ env.REL_CHANNEL }}/linux-x64/rad-bicep --output rad-bicep
        chmod +x rad-bicep
        ./rad-bicep --version
    - name: Publish Recipes to Dev ACRs
      # Uses REL_VERSION as the recipe version so PR builds result in a `pr-<pr number>` tag
      run: ./.github/scripts/publish-recipes.sh . radiusdev.azurecr.io ${{ env.REL_VERSION }}

  delete-dev:
    name: Delete Dev ACR Images
    runs-on: ubuntu-latest
    needs: publish-dev
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    env:
      ACR_HOST: radiusdev.azurecr.io
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - name: az CLI login
      run: |
        az login --service-principal \
          --username ${{ secrets.AZURE_SP_TESTS_APPID }} \
          --password ${{ secrets.AZURE_SP_TESTS_PASSWORD }} \
          --tenant ${{ secrets.AZURE_SP_TESTS_TENANTID }}
    - name: Parse release version and set environment variables
      run: python ./.github/scripts/get_release_version.py
    - name: Delete Dev ACR Images
      run: ./.github/scripts/delete-recipes.sh radiusdev.azurecr.io ${{ env.REL_VERSION }}

  # This is where we can add integration tests in the future

  publish-public:
    name: Publish Recipes to Public ACR
    runs-on: ubuntu-latest
    needs: publish-dev
    if: github.event_name == 'push'
    environment: 
      name: Public
    env:
      ACR_HOST: radius.azurecr.io
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - name: az CLI login
      run: |
        az login --service-principal \
          --username ${{ secrets.AZURE_SP_TESTS_APPID }} \
          --password ${{ secrets.AZURE_SP_TESTS_PASSWORD }} \
          --tenant ${{ secrets.AZURE_SP_TESTS_TENANTID }}
    - name: Parse release version and set environment variables
      run: python ./.github/scripts/get_release_version.py
    - name: Download rad-bicep
      run: |
        ./.github/scripts/curl-with-retries.sh https://get.radapp.dev/tools/bicep-extensibility/${{ env.REL_CHANNEL }}/linux-x64/rad-bicep --output rad-bicep
        chmod +x rad-bicep
        ./rad-bicep --version
    - name: Publish Recipes to Prod ACR
      run: ./.github/scripts/publish-recipes.sh . radius.azurecr.io 1.0
